.section {
    max-width: var(--container);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: var(--space-s);
}

.intro {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);

    &_heading {
        text-transform: uppercase;
        margin-block: 0;
    }

    &_cta {
        display: flex;
        gap: 1rem;
    }
}