.card {
    line-height: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    &_image-wrap {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            mix-blend-mode: multiply;
            --hash-color: var(--color-yellow-600);
            --background: var(--color-yellow-200);
            background-size: 1rem 1rem;
            background-repeat: repeat;
            background-image: repeating-radial-gradient(var(--hash-color),
                    var(--hash-color) 1px,
                    var(--background) 1px, var(--background) 100%,
                );
            opacity: 0;
            transition: opacity var(--speed);
        }
    }

    &_image {
        width: 100%;
        height: auto;
        transition: filter var(--speed);
    }

    &_content {
        text-decoration: none;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        line-height: 1.2;
        padding: var(--space-2xs);
        gap: var(--space-2xs);
    }

    &_content-wrap {
        font-size: var(--step-0);
        display: flex;
        flex-direction: column;
        gap: var(--space-3xs);
        min-width: 0;
    }

    &_title {
        color: var(--color-grey-1000);
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
        font-size: var(--step-1);

        &:after {
            content: ' ';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &:hover &,
    &:focus-visible & {
        &_image-wrap:after {
            opacity: 1;
        }

        &_image {
            filter: grayscale(0.75);
        }
    }

    &:focus-visible {
        outline: 2px solid var(--color-grey-1200);
        outline-offset: 2px;
    }
}