.button {
    position: relative;
    display: block;
    $mark-size: 0.5em;
    $move-by: 0.35em;
    text-align: center;
    padding: var(--space-xs) var(--space-m);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    --mark-color: transparent;
    --hash-color: transparent;

    &:visited {
        color: inherit;
    }

    .mark {
        background: var(--mark-color);
        width: $mark-size;
        height: $mark-size;
        position: absolute;
        transition: all var(--speed);
        clip-path: polygon(0% 0%, 0% 100%, 33% 100%, 33% 33%, 100% 33%, 100% 0%);

        &--tl {
            top: 0;
            left: 0;
        }

        &--tr {
            top: 0;
            right: 0;
            transform: rotate(90deg);
        }

        &--br {
            bottom: 0;
            right: 0;
            transform: rotate(180deg);
        }

        &--bl {
            bottom: 0;
            left: 0;
            transform: rotate(270deg);
        }
    }

    &:hover,
    &:focus-visible {
        $moveX: #{$move-by};
        $moveY: #{$move-by};

        &::before {
            opacity: 1;
        }

        .mark {
            &--tl {
                top: $moveY;
                left: $moveX;
            }

            &--tr {
                top: $moveY;
                right: $moveX;
            }

            &--br {
                bottom: $moveY;
                right: $moveX;
            }

            &--bl {
                bottom: $moveY;
                left: $moveX;
            }
        }
    }

    &:focus-visible {
        outline: 2px solid var(--color-grey-1200);
        outline-offset: 2px;
        position: relative;
        z-index: 1;
    }

    &--fill {
        color: var(--color-grey-50);
        --hash-color: var(--color-grey-1100);
        --background: var(--color-grey-1100);
        background: repeating-linear-gradient(45deg,
                var(--hash-color) 0,
                var(--hash-color) 1px,
                var(--background) 1px,
                var(--background) 50%);
        background-size: var(--space-xs) var(--space-xs);

        &:hover,
        &:focus-visible {
            --mark-color: currentColor;
            --hash-color: var(--color-grey-800);
            --background: var(--color-grey-1200);
        }

        &:active {
            --mark-color: var(--color-yellow-400);
        }
    }

    &--outline {
        color: var(--color-grey-1200);
        --mark-color: currentColor;
        --hash-color: transparent;
        --background: transparent;
        background: repeating-linear-gradient(45deg,
                var(--hash-color) 0,
                var(--hash-color) 1px,
                var(--background) 1px,
                var(--background) 50%);
        background-size: var(--space-xs) var(--space-xs);

        &:hover,
        &:focus-visible {
            --hash-color: var(--color-grey-400);
        }

        &:active {
            --mark-color: var(--color-yellow-400);
        }
    }
}