.container {
    margin-inline: max(var(--space-s-l), 50% - var(--container)/2);

    &--full {
        margin-inline: var(--space-m-2xl);
    }
}

.main {
    max-width: var(--content);
    margin-inline: auto;
}