.minimap{

    width: 6em;
    height: 6em;
    border: max(0.1em, 1px) solid var(--color-grey-3);
    position: fixed;
    bottom: 1em;
    left: 1em;
    border-radius: 100%;

    .pawn{
        stroke:var(--color-grey-6);
        stroke-width: 1.5;
        fill:none;
    }
    .horizon{
        stroke:var(--color-grey-5);
        stroke-width: 1;
        .up{
           
        }
        .down{
            stroke-dasharray: 3;
        }
        .center{
            stroke-dasharray: 3;
        }
    }
    .dots{
        stroke: var(--color-grey-5);
        stroke-width: 2;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
    }
    .north{
        stroke:var(--color-grey-5);
        stroke-width: 1;
        fill:none;
    }
    .cardinals{
        stroke:var(--color-grey-5);
        stroke-width: 1;

    }
    

}


.debug{
    position: fixed;
    top:0;
}