.minimap{

    width: 6em;
    height: 6em;
    border: max(0.1em, 1px) solid black;
    position: fixed;
    bottom: 1em;
    left: 1em;
    border-radius: 100%;

    .marker{
        position: absolute;
        display: block;
        width: 0.75em;
        height: 0.75em;
        top:50%;
        left:50%;
        border: max(0.1em, 1px) solid black;
        transform: translate(-50%,-50%);
    }

}


.debug{
    position: fixed;
    top:0;
}