:root {
    //Color 
    --color-overlay: #f7f7f580;
    --color-background: #f7f7f5;
    --color-grey-50: #ffffff;
    --color-grey-100: #f7f7f5;
    --color-grey-200: #f2f2f0;
    --color-grey-300: #dededc;
    --color-grey-400: #c5c5c4;
    --color-grey-500: #a9a8a7;
    --color-grey-600: #908f8e;
    --color-grey-700: #727171;
    --color-grey-800: #5f5e5e;
    --color-grey-900: #4e4e4e;
    --color-grey-1000: #3e3e3d;
    --color-grey-1100: #323131;
    --color-grey-1200: #212121;
    --color-yellow-50: #fffdf9;
    --color-yellow-100: #fff5d7;
    --color-yellow-200: #fff0c2;
    --color-yellow-300: #ffdb76;
    --color-yellow-400: #fdb931;
    --color-yellow-500: #d99e28;
    --color-yellow-600: #b78729;
    --color-yellow-700: #8f6c2a;
    --color-yellow-800: #755a28;
    --color-yellow-900: #5f4b25;
    --color-yellow-1000: #4a3c20;
    --color-yellow-1100: #3c301c;
    --color-yellow-1200: #272014;
    //Font
    /* @link https://utopia.fyi/type/calculator?c=360,16,1.125,2560,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,2xl,12 */
    --step--2: clamp(0.7901rem, 0.7754rem + 0.0654vw, 0.88rem);
    --step--1: clamp(0.8889rem, 0.8543rem + 0.1535vw, 1.1rem);
    --step-0: clamp(1rem, 0.9386rem + 0.2727vw, 1.375rem);
    --step-1: clamp(1.125rem, 1.0278rem + 0.4318vw, 1.7188rem);
    --step-2: clamp(1.2656rem, 1.1212rem + 0.642vw, 2.1484rem);
    --step-3: clamp(1.4238rem, 1.2174rem + 0.9176vw, 2.6855rem);
    --step-4: clamp(1.6018rem, 1.3146rem + 1.2765vw, 3.3569rem);
    --step-5: clamp(1.802rem, 1.4103rem + 1.7412vw, 4.1962rem);
    //Spacing 
    /* @link https://utopia.fyi/space/calculator?c=360,16,1.125,2560,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,2xl,12 */
    --space-3xs: clamp(0.25rem, 0.2295rem + 0.0909vw, 0.375rem);
    --space-2xs: clamp(0.5rem, 0.4693rem + 0.1364vw, 0.6875rem);
    --space-xs: clamp(0.75rem, 0.6989rem + 0.2273vw, 1.0625rem);
    --space-s: clamp(1rem, 0.9386rem + 0.2727vw, 1.375rem);
    --space-m: clamp(1.5rem, 1.408rem + 0.4091vw, 2.0625rem);
    --space-l: clamp(2rem, 1.8773rem + 0.5455vw, 2.75rem);
    --space-xl: clamp(3rem, 2.8159rem + 0.8182vw, 4.125rem);
    --space-2xl: clamp(4rem, 3.7545rem + 1.0909vw, 5.5rem);
    --space-3xl: clamp(6rem, 5.6318rem + 1.6364vw, 8.25rem);
    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, 0.1784rem + 0.3182vw, 0.6875rem);
    --space-2xs-xs: clamp(0.5rem, 0.408rem + 0.4091vw, 1.0625rem);
    --space-xs-s: clamp(0.75rem, 0.6477rem + 0.4545vw, 1.375rem);
    --space-s-m: clamp(1rem, 0.8261rem + 0.7727vw, 2.0625rem);
    --space-m-l: clamp(1.5rem, 1.2955rem + 0.9091vw, 2.75rem);
    --space-l-xl: clamp(2rem, 1.6523rem + 1.5455vw, 4.125rem);
    --space-xl-2xl: clamp(3rem, 2.5909rem + 1.8182vw, 5.5rem);
    --space-2xl-3xl: clamp(4rem, 3.3045rem + 3.0909vw, 8.25rem);
    /* Custom pairs */
    --space-s-l: clamp(1rem, 0.7136rem + 1.2727vw, 2.75rem);
    --space-m-2xl: clamp(1.5rem, 0.8455rem + 2.9091vw, 5.5rem);
    /* Layout */
    --container: calc(var(--step-0) * 80); //80rem - but fluid
    --content: calc(var(--step-0) * 50);
    --aside: calc(var(--step-0) * 30);
    //Transition Speed
    --speed: 0.2s;
}