@use './variables' as *;

body {
  color: var(--color-grey-1200);
  background-color: var(--color-background);
  background-image: url("../public/crossmarker.svg");
  background-size: 20vw;
  background-repeat: repeat;
  font-family: "Saira", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: var(--step-0);
  //font-variation-settings: "ital" var(--font-italic), "wdth" var(--font-width);


  @media (min-width: 992px) {
    background-size: 10vw;
  }

  @media (min-width: 1800px) {
    background-size: 5vw;
  }


}

* {
  &::selection {
    background: var(--color-yellow-200);
  }
}

a {
  color: var(--color-grey-1200);
  background: var(--color-yellow-200);

  transition: background var(--speed), text-decoration-color var(--speed);
  text-decoration: underline;
  text-decoration-thickness: 0.15em;
  text-decoration-color: var(--color-yellow-500);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-grey-1200);

    background: var(--color-yellow-300);
  }
}