:root {
  $accent: #ffaa00;
  $grey-dark: #1a1a1a;
  $grey-light: #f7f7f5;
  $steps: 8;

  @for $i from 0 to $steps {
    --color-grey-#{$i+1}: #{mix(
        $grey-dark,
        $grey-light,
        percentage($i / ($steps - 1))
      )};
  }

  --text-color: var(--color-grey-7);

  --color-accent: #{$accent};
  --color-accent-darker: #{darken($accent, 20%)};
  --color-accent-lighter: #{lighten($accent, 20%)};

  --font-weight: 500;

  --speed: 0.1s;
}

body {
  color: var(--text-color);
  background-color: var(--color-grey-1);
  font-family: "Saira", sans-serif;

  //font-variation-settings: "ital" var(--font-italic), "wdth" var(--font-width);
  font-weight: var(--font-weight);
}

* {
  &::selection {
    background: var(--color-accent-lighter);
  }
}

a:visited {
  color: var(--color-grey-6);
}

a:hover,
a:focus,
a:active {
  color: var(--color-grey-8);
}
